html {
    min-height:100%;
    margin:0;
    padding:0;
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    overflow-y:scroll;
}

body {
    margin:0;
    padding:0;
    background-color:#111;
    color:#4d4d4d;
    /* font-family:'Proxima Nova','Open Sans','Lato',sans-serif; */
    font-family: 'Georgia';
    font-size:18px;
    line-height:24px;
    -webkit-font-smoothing:subpixel-antialiased;
}

a {
    color:#000000;
    text-decoration:none;
}

a:link {
    color:#000000;
}

a:hover {
    color:#4d4d4d;
    outline:0;
    border-bottom:1px dotted #999999;
}

a:active { 
    color:#4d4d4d;
    outline:0;
}

a:focus {
    outline:thin dotted;
}

.clearfix {
    content:".";display:block;
    height:0;
    clear:both;
}

section#sidebar {
    /* width:258px; */
    width: 270px;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:auto;
    min-height:700px;
    z-index:2;
    background-color: white;
    /* background-color: transparent; */
}

section#sidebar figure {
    margin:40px 25px;
    height:100px;
}

section#sidebar figure img {
    width: 200px;
}

section#sidebar h1 {
    /* margin:30px 20px 10px 0px; */
    margin: 0px;
    padding:0 0 0 25px;
    display:block;
    /* font-family:'Proxima Nova','Open Sans','Lato',sans-serif;font-weight:900; */
    font-family: 'Georgia';
    font-weight: bold;
    /* font-size: 48px; */
    /* line-height: 56px; */
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
}

section#sidebar h1 a {
    border:none;
}

section#sidebar h2 {
    /* margin: 0 20px 0 0; */
    margin: 8px 0 0 0;
    padding: 0 0 0 25px;
    font-size:18px;
    font-weight:300;
    line-height:24px;
}
section#sidebar ul{
    margin:24px 0 0 0;
    /* padding-left: 25px; */
    background-repeat: repeat-y;
    background-origin: content-box;
    background-position-x: 50%;
    text-align: center;
}

section#sidebar li {
    margin:0 26px;
    display:block;
}

.sign, .sign:hover {
    outline: none;
    border: 2px solid transparent;
    color: #999999;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 15px;
    margin-bottom: 32px;
    display: block;
    text-align: center;
    width: 185px;
}

.sign-post {
    background-image: url('../img/sign-post.png');
    padding: 8px 0 800px 0;
}

.right-sign {
    background-image: url('../img/right-sign.png');
    background-position: right;
    background-repeat: no-repeat;
}

.left-sign {
    background-image: url('../img/left-sign.png');
    background-position: left;
    background-repeat: no-repeat;
}

section#sidebar footer {
    margin:0;
    padding:0;
    position:absolute;
    bottom:45px;
    /* width:258px; */
    width: 300px;
    text-align:center;
    color:#999999;
    font-size:12px;
    font-weight:300;
    line-height:15px;
}

section#posts {
    top:0;
    /* margin:0 0 0 260px; */
    /* margin:0 0 0 270px; */
    /* padding: 300px 25px 300px 25px; */
    padding: 0;
    min-height:700px;
    min-width:710px;
    height:100%;
    max-width: 100%;
    border-left:#eeeeee 1px solid;
    position:relative;
    /* position: fixed; */
    z-index:1;
    background-color: #111;
}

section#posts h1 {
    margin:24px 0 16px;
    color:#000000;
    font-size:24px;
    line-height:32px;
}

section#posts h2 {
    margin:24px 0 8px;
    color:#000000;
    font-size:18px;
    line-height:24px;
    text-transform: uppercase;
}

section#posts h3 {
    margin:22px 0 12px;
    color:#000000;
}

section#posts h4 {
    margin:24px 0 8px;
    color:#000000;
}

section#posts h5 {
    margin:24px 0 8px;
    color:#000000;
}

section#posts h6 {
    margin:24px 0 8px;
    color:#000000;
}

section#posts ul,section#posts ol {
    margin:0 0 0 15px;
    padding:0;
    list-style-position:outside;
}

section#posts ul li,section#posts ol li {
    margin:0 0 15px 15px;
    padding:3px 0 3px 5px;
}

section#posts ul pre,section#posts ol pre {
    width:517px;
}

section#posts p {
    max-width: 710px;
}

section#posts blockquote {
    margin:0;
    padding:0 0 0 20px;
    display:inline-block;
    border-left:10px solid #0e94ec;
    max-width:500px;
}

section#posts blockquote p {
    width:530px;
}

section#posts code {
    margin:0;
    padding:2px 4px;
    color:#000000;
    background-color:#eeeeee;
    font-family:'Inconsolata',monospace,serif;
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.6);
    -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.6);
    -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.6);
}

section#posts pre {
    margin:0;
    padding:0 0 0 20px;
    display:inline-block;
    border-left:10px solid #0e94ec;
    width:550px;
    color:#000000;
    background-color:#eeeeee;
    font-family:'Inconsolata',monospace,serif;
    overflow-x:auto;
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.6);
    -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.6);
    -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.6);
}

section#posts hr {
    color:#eeeeee;
    background-color:#eeeeee;
    height:1px;
    width:100%;
    border:none;
}

section#posts header {
    margin:0;
    /* padding:80px 80px 80px 50px; */
    padding:80px 80px 80px 270px;
    /* border-bottom:#eeeeee 1px solid; */
    font-color:#000000;
    font-weight:288px;
    text-transform:uppercase;
    text-size:15px;
    line-height:33px;
    /* background-image: url('../img/header.png'); */
    background-color: #111;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

section#posts .torn-edge {
    background-repeat: repeat-x;
    width: 100%;
    padding-top: 40px;
    position: absolute;
    left: 0;
}

section#posts .post, section#posts .meta-post {
    /* padding-left: 50px; */
    padding: 0 0 24px 20px;
    margin-left: 250px;
    border-top: 2px solid #eeeeee;
    min-height: 200px;
    position: relative;
}

section#posts .sidebar {
    position: absolute;
    left:-248px;
    height: 100%;
    width: 248px;
    top: -24px;
    border-right: 2px solid #eeeeee;
}

section#posts header .torn-edge {
    bottom: 0;
    background-position: bottom left 100%;
    background-image: url('../img/torn-top-edge.png');
}

section#posts figure {
    height: 216px;
    width: 216px;
    margin: 0;
    border: 2px solid #eeeeee;
    padding: 8px;
    background-color: white;
    position: absolute;
    right: 80px;
    top: -116px;
    z-index: 1;
}

section#posts figure img {
    height: 216px;
    width: 216px;
}

section#posts footer .torn-edge {
    top: 0;
    background-position: top left 0%;
    background-image: url('../img/torn-bottom-edge.png');
}

section#posts header h1 {
    margin:0;
    padding:0;
    height:0;
    width:0;
    visibility:hidden;
    max-width: 470px;
}

section#posts header h3 {
    margin:0;
    padding:0;
    font-size: 32px;
    font-style: italic;
    color: white;
    /* position: absolute; */
    /* z-index: 2; */
}

section#posts header a {
    color: white;
}

section#posts header address a {
    color: #999;
}

section#posts footer {
    margin:0;
    padding:200px 80px 200px 270px;
    /* border-top:#eeeeee 1px solid; */
    background-image: url('../img/footer.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

address {
    color:#999999;
    font-size:16px;
    font-weight:300;
    line-height:16px;
}

section#posts td.linenos pre {
    margin:0;
    padding:0 2px;
    width:20px;
    border:none;
    text-align:right;
}
section#posts a.button_accent {
    margin:40px 50px;
    padding:10px 20px;
    display:inline-block;
    border:3px solid #0e94ec;
    border-radius:70px;
    -moz-border-radius:70px;
    -webkit-border-radius:70px;
    text-transform:uppercase;
    color:#0e94ec;
    font-size:17px;
    font-weight:400;
}

section#posts a.button_accent:link {
    color:#0e94ec;
}
section#posts a.button_accent:hover {
    color:#ffffff;
    background-color:#0e94ec;
    outline:0;
}

section#posts a.button_accent:active {
    color:#ffffff;
    background-color:#0e94ec;
    outline:0;
}

section#posts p.paginator {
    margin:0;
    padding:0;
    min-height:122px;
    width:100%;
    border-top:#eeeeee 1px solid;
}

section#posts article {
    margin:0;
    padding:40px 40px 40px 50px;
    min-width:620px;
    position:relative;
    font-size:15px;
    line-height:25px;
    overflow-x:hidden;
    overflow-y:hidden;
}

section#posts article #title {
    font-family:'Freight-Sans-Pro','Proxima Nova','Open Sans','Lato',sans-serif;
    margin:32px 0 0;
    padding:0;
    color:#000000;
}

section#posts article #title a {
    border:none;
}

section#posts article #article_meta {
    margin:20px 0 0 0;
    padding:0;
    font-size:13px;
    line-height:16px;
}

section#posts #comments {
    margin:0;
    padding:40px 40px 40px 50px;
    position:relative;
    border-top:#eeeeee 1px solid;
    font-size:15px;
    line-height:25px;
    min-height:600px;
}

section#posts #comments h2 {
    color:#000000;
}

section#posts #disqus_thread {
    width:600px;
}

section#posts dl#tag_list {
    margin:0;
    padding:40px 40px 40px 50px;
    font-size:18px;
    line-height:24px;
}

section#posts dl#tag_list ul {
    margin:0;
    padding:0;
}

section#posts dl#tag_list ul li {
    margin:0;
    padding:0;
}

section#posts dl {
    margin:0;
    padding:0;
    font-size:15px;
    line-height:25px;
    overflow-x:hidden;
    overflow-y:hidden;
}

section#posts dl ol {
    margin:0;
    padding:0;
    list-style-type:none;
}

section#posts dl ol li {
    margin:0 0 0px;
    padding:0 0 50px 50px;
    border-bottom:#eeeeee 1px solid;
}

section#posts dl ol .title {
    margin:76px 0 0;
    padding:0;
    color:#000000;
}

section#posts dl ol .title a {
    border:none;
}

section#posts dl ol .entry-content {
    width:550px;
}

section#posts dl ol .entry-content ul {
    margin:0 0 0 15px;
    padding:0;
    list-style-position:outside;
}

section#posts dl ol .entry-content ul li {
    margin:0 0 15px 15px;
    padding:3px 0 3px 5px;
    border-bottom:0;
}

section#posts dl ol abbr {
    margin:0;
    padding:0;
    text-transform:uppercase;
    font-weight:300;
    font-size:13px;
    line-height:16px;
    visibility:hidden;
}

#main-body-left {
    /* background-color: rgba(255, 255, 255, 0.95); */
    background-color: white;
}

.other-hangouts li {
    display: inline;
}

.other-hangouts img {
    height: 40px;
}

.github-ico, .twitter-ico, .duolingo-ico {
    position: relative;
    top: 8px;
}

img.linkedin-ico {
    position: relative;
    top: 4px;
    height: 32px;
}

.left-side {
    position: absolute;
    top: 80px;
    left: 50px;
}

.right-side {
    position: absolute;
    top: 80px;
    right: 80px;
}

.middle {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 40px;
}

.img-link img {
    width: 100px;
}

.img-link:hover {
    border: 0;
}
